body { 
background-color: #ffffff;
color: rgb(17, 17, 17);
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}


nav a {
  color: #000000;
text-decoration: none;
}

nav a:hover {
 text-decoration: underline;
}

strong a {
color: #000000;
text-decoration: none;
}

strong a:hover {
text-decoration: underline;
}

.content {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
  font-size: 1.2em;
  margin-top: 60px;
}

ul {
list-style-type: none;
}