body { 
background-color: #1258b4;
color: rgb(0, 0, 0);
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

nav a {
color: rgb(0, 0, 0);
text-decoration: none;
}

nav a:hover {
 text-decoration: underline;
}
.des {
   padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
 padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}